body { 
    margin: 0; 
    font-family: 'DM Sans', sans-serif;
    background-color: white;
} 
 
a { 
    text-decoration: none; 
} 

.header {
    background-color: rgb(19, 28, 56);
    height: 90px;
    opacity: 0,7;
}

.header-list a {
    display: flex;
    align-items: center;
    padding: 10px;
    padding-left: 50px;
    padding-right: 30px;
    padding-top: 10px;
}

nav {
    flex: 1;
    text-align: right;
}

nav ul {
    display: inline-block;
    list-style: none;
}

nav ul li {
    display: inline-block;
    margin-right: 70px;
}

nav ul li a {
    text-decoration: none;
    font-size: 20px;
    color: white;
    text-transform: capitalize;
}

nav ul li button {
    font-size: 20px;
    color: white;
    outline: none;
    border: none;
    background: transparent;
    cursor: pointer;
    font-family: 'DM Sans', sans-serif;
}

nav ul li button:hover {
    color: rgb(187, 148, 91);

}

nav ul li a:hover {
    color: rgb(187, 148, 91);
    transition: .4s;
}

a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}


.logopng {
    width: 70px;
    float: left;
    margin-top: 3px;
}

.heading {
    font-size: 88px;
    float: left;
    font-family: 'Raleway', sans-serif;
    padding: 20px;
    font-family: 'DM Serif Display', serif;
}